body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    display: inline-block;
    position: center;
    
    top: 20px;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1;
}

.notifications {
    margin: 10px auto;
    width: 400px;
    height: 20px;
}

.notification {
    background: #f8f8f8;
    padding: .5em;
    overflow: hidden;
    position: relative;
}

.notification__game-over-lose {
    top: 10px;
    background: red;
    color: #fff;
}

.notification__game-over-win {
    top: 10px;
    background: green;
    color: #fff;
}

.none {
    display: none;
}

.notification_submit_restart {
    margin-top: .8em;
    color: black
}

.body_wrap {
    min-width: 990px;
    max-width: 1080px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    background: #fff;
    min-height: 100%;
}

.battlefields {
    padding-top: 110px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.battlefield {
    width: 50%;
    position: relative;
}

.battlefield_self {
    float: left;
}

.battlefield_rival{
    float: right;
}

.battlefield_self .battlefield_gap {
    margin-left: 130px;
    float: left;
}

.battlefield_rival .battlefield_gap {
    margin-right: 120px;
    float: right;
}

.battlefield_gap {
    display: inline-block;
    position: relative;
    margin: 40px 0;
}

.battlefield_table_placeholder {
    min-height: 340px;
    min-width: 340px;
}

.battlefield_table {
    margin: 0;
    border-collapse: collapse;
    cursor: default;
    display: inline-block;
    position: relative;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.battlefield_label {
    font-size: .8em;
    position: relative;
    text-align: center;
    left: -40px;
    bottom: -10px;
}

.battlefield_wait {
    position: relative;
    cursor: default;
}

.battlefield_rival.battlefield_wait, .battlefield_rival.battlefield_wait * {
    cursor: default;
}

.battlefield_wait .battlefield_label, .battlefield_wait .battlefield_table_placeholder {
    opacity: .4;
    pointer-events: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.battlefield_cell {
    border: 1px solid #b4b4ff;
    padding: 0;
}

.battlefield_cell_content {
    position: relative;
    height: 2em;
    width: 2em;
}

.battlefield_cell_ship {
    border: 2px solid #00f;
    padding: 0;
    background: #d5efd6;
}

.battlefield_cell_miss {
    pointer-events: none;
    background: rgba(255,0,0,.05);
}

.battlefield_cell_hit {
    pointer-events: none;
    background: rgba(255,0,0,.05);
}

.battlefield_cell_sunk {
    pointer-events: none; 
    background: rgba(255,0,0,.05);
    border: 2px solid red;
}

.battlefield_cell_miss .battlefield_cell_content .z {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    background: #333;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: -2px;
}

.battlefield_cell_hit .battlefield_cell_content .z {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
}

.battlefield_cell_hit .battlefield_cell_content .z:before {
    left: 50%;
    width: 2px;
    top: -25%;
    height: 150%;
    margin-top: 1px;
}

.battlefield_cell_hit .battlefield_cell_content .z:after {
    top: 50%;
    height: 2px;
    left: -25%;
    width: 150%;
    margin-left: -1px;
}

.battlefield_cell_hit .battlefield_cell_content .z:after, .battlefield_cell_hit .battlefield_cell_content .z:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: red;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.battlefield_rival .battlefield_cell_empty:hover .battlefield_cell_content {
    cursor: pointer;
    position: relative
}

.battlefield_rival .battlefield_cell_empty:hover .battlefield_cell_content:after {
    border: 2px solid #40bf44;
    background: rgba(64,191,68,.05);
    position: absolute;
    width: 2em;
    height: 2em;
    top: 0;
    left: 0;
    content: "";
    display: block;
    cursor: pointer;
    z-index: 2
}

.marker {
    position: absolute;
    font-size: 11px;
    z-index: -1;
}

.marker_row {
    left: -3em;
    width: 2em;
    text-align: right;
    top: 1em;
    height: 1em;
}

.marker_col {
    top: -2em;
    left: 0;
    width: 100%;
    text-align: center;
}

.battlefield_start {
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: 101;
}

.battlefield_start_gap {
    text-align: left;
    padding: 0 1em;
    margin-right: 4px;
}

.battlefield_start_fields {
    font-size: .9em;
    position: relative;
}

.battlefield_start_label {
    font-size: 1.5em;
    margin-bottom: .2em;
}

.battlefield_start_textbox{
    width: 248px;
}

.battlefield_generate_button {
    border: 1px solid #d6d6d6;
    background: #d5efd6;
    background: linear-gradient(to bottom,rgba(225,250,225,1) 0,rgba(195,222,197,1) 100%);
    margin: 1em 1em 0;
    padding: .2em .8em;
    font-size: 1.32em;
    box-shadow: 0 2px 6px rgba(0,0,0,.25);
    line-height: 1;
    font-family: inherit;
    cursor: pointer !important;
    outline: 0;
    display: inline-block;
}

.battlefield_start_button {
    border: 1px solid #d6d6d6;
    background: #d5efd6;
    background: linear-gradient(to bottom,rgba(225,250,225,1) 0,rgba(195,222,197,1) 100%);
    margin: 1em 0 0;
    padding: .2em .8em;
    font-size: 1.32em;
    box-shadow: 0 2px 6px rgba(0,0,0,.25);
    line-height: 1;
    font-family: inherit;
    cursor: pointer !important;
    outline: 0;
    display: inline-block;
}

.battlefield_button_disable {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
}

* {
    touch-action: manipulation;
}

div {
    display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
