@using BattleShip.Hubs;
@{
    ViewBag.Title = "Battleship";
    Guid guid = Guid.NewGuid();
}

<div class="body_wrap">
    <div class="battlefields clearfix">
        <div class="battlefield battlefield_self">
            <div class="battlefield_gap">
                <div class="battlefield_table_placeholder">
                    <table class="battlefield_table" id="your_table">
                        <tbody>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="0">
                                        <div class="marker marker_row">1</div>
                                        <div class="marker marker_col">A</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="0">
                                        <div class="marker marker_col">B</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="0">
                                        <div class="marker marker_col">C</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="0">
                                        <div class="marker marker_col">D</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="0">
                                        <div class="marker marker_col">E</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="0">
                                        <div class="marker marker_col">F</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="0">
                                        <div class="marker marker_col">G</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="0">
                                        <div class="marker marker_col">H</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="0">
                                        <div class="marker marker_col">I</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="0">
                                        <div class="marker marker_col">J</div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="1">
                                        <div class="marker marker_row">2</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="1">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="2">
                                        <div class="marker marker_row">3</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="2">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="3">
                                        <div class="marker marker_row">4</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="3">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="4">
                                        <div class="marker marker_row">5</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="4">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="5">
                                        <div class="marker marker_row">6</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="5">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="6">
                                        <div class="marker marker_row">7</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="6">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="7">
                                        <div class="marker marker_row">8</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="7">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="8">
                                        <div class="marker marker_row">9</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="8">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="9">
                                        <div class="marker marker_row">10</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="9">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="battlefield_label">Your field</div>
            </div>
        </div>
        <div id="battlefield_rival" class="battlefield battlefield_rival battlefield_wait">
            <div class="battlefield_gap">
                <div class="battlefield_table_placeholder">
                    <table class="battlefield_table">
                        <tbody>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="0">
                                        <div class="marker marker_row">1</div>
                                        <div class="marker marker_col">A</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="0">
                                        <div class="marker marker_col">B</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="0">
                                        <div class="marker marker_col">C</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="0">
                                        <div class="marker marker_col">D</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="0">
                                        <div class="marker marker_col">E</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="0">
                                        <div class="marker marker_col">F</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="0">
                                        <div class="marker marker_col">G</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="0">
                                        <div class="marker marker_col">H</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="0">
                                        <div class="marker marker_col">I</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="0">
                                        <div class="marker marker_col">J</div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="1">
                                        <div class="marker marker_row">2</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="1">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="1">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="2">
                                        <div class="marker marker_row">3</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="2">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="2">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="3">
                                        <div class="marker marker_row">4</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="3">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="3">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="4">
                                        <div class="marker marker_row">5</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="4">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="4">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="5">
                                        <div class="marker marker_row">6</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="5">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="5">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="6">
                                        <div class="marker marker_row">7</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="6">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="6">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="7">
                                        <div class="marker marker_row">8</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="7">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="7">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="8">
                                        <div class="marker marker_row">9</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="8">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="8">
                                    </div>
                                </td>
                            </tr>
                            <tr class="battlefield_row">
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="0" data-y="9">
                                        <div class="marker marker_row">10</div>
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="1" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="2" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="3" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="4" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="5" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="6" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="7" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="8" data-y="9">
                                    </div>
                                </td>
                                <td class="battlefield_cell battlefield_cell_empty">
                                    <div class="battlefield_cell_content" data-x="9" data-y="9">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="battlefield_label">Opponent field</div>
                <div id="battlefield_start" class="battlefield_start">
                    <div class="battlefield_start_gap">
                        <div id="battlefield_start_fields" class="battlefield_start_fields">
                            <div class="battlefield_start_label">
                                <label>It's a code of your game:</label>
                            </div>
                            </br>
                            <input class="battlefield_start_textbox" type="text" id="guidField" value=@guid />
                            </br>
                            <label>(Paste code of custom game in this textbox)</label>
                        </div>
                        <input class="battlefield_start_button" type="button" id="playButton" value="Play" />
                        <input class="battlefield_generate_button" type="button" id="generateButton" value="Generate" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<!--Ссылка на библиотеку SignalR -->
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/util.js"></script>
